@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,800);

html {
  font-size: 13px;
}

body {
  background: #E1E6EB;
  font: 400 1rem/1.3 'Raleway', sans-serif;
  color: #1D1D1D;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.my-container {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1160px;
  margin: 0 auto;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 350px;
  justify-content: space-between;
}

.post:not(:first-child) .flex-grow {
  flex-grow: 1;
}

.post {
  display: flex;
  flex: 1 1 340px;
  margin: 0 10px 20px;
}

.post:first-child {
  flex: 1 1 714px;
  position: relative;
}

article > a {
  display: flex;
  flex-direction: column;
}

.post:first-child .post-header {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, transparent, #000);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.post:first-child .post-author {
  display: none;
}

.post-photo {
  width: 100%;
  display: block;
}

.post-header {
  display: flex;
  text-transform: uppercase;
  padding: 25px 30px;
  flex-flow: column wrap;
  background: #ffffff;
  flex-basis: 284px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 20px 0;
}